---
import checkIcon from "@material-symbols/svg-400/outlined/check.svg?raw";
import codeIcon from "@material-symbols/svg-400/outlined/code.svg?raw";
import paletteIcon from "@material-symbols/svg-400/outlined/palette.svg?raw";
import { MdIcon } from "@material/web/icon/icon";
import { MdStandardIconButton } from "@material/web/iconbutton/standard-icon-button";
import { MdMenu } from "@material/web/menu/menu";
import { MdMenuItem } from "@material/web/menu/menu-item";
---

<header class="surface">
  <img id="img" class="icon" src="/R3Icon.png" />
  <h1 class="title-large">Abstände im R³</h1>
  {
    (
      // @ts-expect-error
      <MdStandardIconButton href="https://github.com/IAmMajo/Abstaende-Im-R3">
        <MdIcon set:html={codeIcon} />
      </MdStandardIconButton>
    )
  }
  <div>
    {
      (
        // @ts-expect-error
        <MdStandardIconButton id="design-button">
          <MdIcon set:html={paletteIcon} />
        </MdStandardIconButton>
      )
    }
    <MdMenu client:only="lit">
      {
        (
          // @ts-expect-error
          <MdMenuItem
            headline="Systemeinstellung"
            id="system"
            client:only="lit"
          >
            {
              // @ts-expect-error
              <MdIcon
                class="invisible"
                slot="start"
                set:html={checkIcon}
                client:only="lit"
              />
            }
          </MdMenuItem>
        )
      }
      {
        (
          // @ts-expect-error
          <MdMenuItem headline="Hell" data-value="light" client:only="lit">
            {
              // @ts-expect-error
              <MdIcon
                class="invisible"
                slot="start"
                set:html={checkIcon}
                client:only="lit"
              />
            }
          </MdMenuItem>
        )
      }
      {
        (
          // @ts-expect-error
          <MdMenuItem headline="Dunkel" data-value="dark" client:only="lit">
            {
              // @ts-expect-error
              <MdIcon
                class="invisible"
                slot="start"
                set:html={checkIcon}
                client:only="lit"
              />
            }
          </MdMenuItem>
        )
      }
    </MdMenu>
  </div>
</header>
<style>
  .icon {
    width: 40px;
    height: 40px;
  }
  header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 8px 0 16px;
    width: 100%;
    box-sizing: border-box;
    gap: 8px;
    transition: 0.5s cubic-bezier(0.2, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  h1 {
    flex: 1;
  }

  div {
    position: relative;
  }
</style>
<script>
  import type { MdIcon } from "@material/web/icon/icon";
  import type { MdMenu } from "@material/web/menu/menu";
  import type { MdMenuItem } from "@material/web/menu/menu-item";

  const designButton = document.getElementById("design-button")!;
  designButton.addEventListener("click", () => {
    const menu = document.querySelector<MdMenu>("md-menu");
    if (!menu) {
      return;
    }
    refreshSelectedDesign();
    menu.anchor = designButton;
    menu.show();
  });
  const image = document.getElementById("img");
  const bodyClasses = document.body.classList;
  const colorScheme = document.querySelector<HTMLMetaElement>(
    '[name="color-scheme"]'
  )!;
  function setSystemColor() {
    if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      image?.setAttribute("src", "/R3Icon.png");
    } else {
      image?.setAttribute("src", "/R3Iconlightmode.png");
    }
  }
  setSystemColor();

  addEventListener("close-menu", (event) => {
    bodyClasses.remove("light", "dark");

    const target = event.target as MdMenuItem;
    const design = target.dataset.value;
    if (target.id == "system") {
      setSystemColor();
    }
    if (design) {
      bodyClasses.add(design);
      colorScheme.content = design;
      localStorage.setItem("design", design);
    } else {
      colorScheme.content = "light dark";
      localStorage.removeItem("design");
    }
    if (document.body.classList.contains("light")) {
      image?.setAttribute("src", "/R3Iconlightmode.png");
    }
    if (document.body.classList.contains("dark")) {
      image?.setAttribute("src", "/R3Icon.png");
    }
    refreshSelectedDesign();
  });

  const headerClasses = document.querySelector("header")!.classList;
  addEventListener("scroll", () => {
    if (scrollY === 0) {
      headerClasses.remove("surface-container");
      return;
    }
    headerClasses.add("surface-container");
  });

  function refreshSelectedDesign() {
    document
      .querySelectorAll<MdIcon>("md-menu-item md-icon")
      .forEach((icon) => icon.classList.add("invisible"));
    const design = localStorage.getItem("design");
    if (!design) {
      document
        .querySelector<MdIcon>("md-menu-item md-icon")
        ?.classList.remove("invisible");
      return;
    }
    document
      .querySelector<MdIcon>(`[data-value="${design}"] md-icon`)
      ?.classList.remove("invisible");
  }
</script>
